/* body { 
    background: url(../images/aquarium-aquatic-background-2832772.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  } */
#topics {
    margin-bottom: 20px;
}

#topics button {
    margin: 3px;
}
html {
    color: white:
}